/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2015, 4:05:18 PM
    Author     : rsee
*/

$body-bg-color: white;
$border-color: #CCC;
$slot-machine-bg-color: #ECECEC;
$reel-inset-shadow-color: #696868;

$wining-message-color: #B6FF00;
$spining-message-color: #FF9900;

